/****** Custom Styles ******/


/* Colors 
#B1EB00 green
#52BBF4 blue
#FE85CA pink
#FC0FC0 hotpink
#FF432F red
#FEAC00 orange
#606060 gray


/* ----------------- 
Typography
------------------ */


/*font-family: 'Fjalla One', sans-serif;*/


/*font-family: 'Open Sans', sans-serif;*/


/* -----------------
General Styles
------------------ */

html {
  height: 100%;
}

body {
  font: 300 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #606060;
}

h1,
h2,
h3 {
  font-family: 'Fjalla One', sans-serif;
}

a {
  color: #FC0FC0;
  text-decoration: none;
}

a:hover {
  transition: all .2s linear;
}

p {
  margin-bottom: 2rem;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  max-width: 760px;
  margin-top: 2rem;
}

.emphasize {
  font-style: italic;
}


/* -----------------
Profile
------------------ */

#profile {
  text-align: center;
}

#profile img {
  margin: 0 auto;
  padding: 1rem;
}

img.headshot {
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.social-icons li {
  display: inline-block;
  padding: 1 0.5rem;
  width: 5rem;
  font-size: 3rem;
  transition: all 0.2s linear;
}

.area-icons li {
  display: inline;
}


/*Timeline*/

.cd-container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  background: #2B343A;
  padding: 0 10%;
  border-radius: 2px;
}

.cd-container::after {
  content: '';
  display: table;
  clear: both;
}


/* -------------------------------- 
Timeline Main components 
-------------------------------- */


/** {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}*/


/*body {
   margin: 0;
   padding: 30px 0;
   font-family: 'Roboto', sans-serif;
   background: #F1F2F6;
}*/

h2 {
  text-align: center;
}

.timeline-container {
  width: 100%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.timeline-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #CCD1D9;
  z-index: 1
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid;
  /*background: white;*/
  margin-top: 10px;
  z-index: 9999
}

.green {
  border-color: #B1EB00;
  background: #B1EB00;
}

.blue {
  border-color: #52BBF4;
  background: #52BBF4;
}

.pink {
  border-color: #FC0FC0;
  background: #FC0FC0;
}

.red {
  border-color: #FF432F;
  background: #FF432F;
}

.orange {
  border-color: #FEAC00;
  background: #FEAC00;
}

.timeline-content {
  width: 100%;
  padding: 0 15px;
  color: #666
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500
}

.timeline-content span {
  font-size: 2rem;
  color: #a4a4a4;
}

.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
}

@media screen and (max-width: 768px) {
  .timeline-container:before {
    left: 2.5%;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}


/* -----------------
Footer
------------------ */

footer {
  text-align: center;
}

footer p {
  font-size: 1rem;
  margin-bottom: 0;
}


/* -----------------
Mobile First Queries
------------------ */


/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet */

@media (min-width: 550px) {
  .container {
    padding: 2% 0;
  }
}


/* Larger than tablet */

@media (min-width: 750px) {
  .container {
    padding: 2% 0;
  }
  #profile {
    margin-top: 3%;
  }
  .one-half column {
    padding: 0 5rem;
  }
}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {}